form {
    width: 80%;
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    margin-top: 150px;
}

body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(75, 14, 154, 1)35%, rgba(0, 212, 255, 1)100%);
}
.login-btn {
    width: 100%;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(75, 14, 154, 1)35%, rgba(0, 212, 255, 1)100%);
}

.form-control {
    color: rgba(0, 0, 0, .8);
    border-bottom-color: rgba(0, 0, 0, .4);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}

h3 {
    margin-bottom: 10px;
}
/* Footer styling */
.footer {
    position: fixed; 
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; 
    padding: 20px 0; 
    text-align: center; 
}

#facebook i:hover {
    color: #3b5998;
}
#twitter i:hover {
    color: #1DA1F2;
}
#youtube i:hover {
    color: #FF0000;
}
#instagram i:hover {
    color: salmon;
}
#social-networks {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 150%;
}

#social-networks li {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between social icons */
}

#social-networks li:last-child {
    margin-right: 0;
}

