{% extends 'base.html' %}

{% block title %}Appointments - Bark Avenue Groomers{% endblock %}

{% block content %}
<h1 class="text-center" style="color: #f8f9fa; text-decoration: underline 1px solid #f8f9fa;">Appointments</h1>
    {% if user_appointments %}
        <p class="text-center" style="color: #f8f9fa;">Number of appointments: {{ user_appointments.count }}</p>
        <div class="row">
            {% for appointment in user_appointments %}
            <div class="col-md-6 mb-4">
                <div class="card appointment-card bg-image" style="background-image: url('/media/paws.png');">
                    <div class="card-body">
                        <strong>Date:</strong> {{ appointment.appointment_date }}<br>
                        <strong>Time:</strong> {{ appointment.appointment_time }}<br>
                        <strong>Pet:</strong> {{ appointment.pet }}<br>
                        <strong>Groomer:</strong> {{ appointment.groomer }}<br>
                        <strong>Service:</strong> {{ appointment.service }}<br>
                            <a href="/edit-appointment/{{ appointment.id }}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'delete_appointment' appointment.id %}" class="btn btn-danger delete-button" data-appointment-id="{{ appointment.id }}">Delete</a>
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">No appointments found for the current user.</p>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
  $(document).ready(function() {
      $('.delete-button').click(function(event) {
          event.preventDefault(); // Prevent default anchor behavior

          // Get the appointment ID from data attribute
          var appointmentId = $(this).data('appointment-id');

          // Send AJAX request to delete endpoint
          $.ajax({
              url: '/delete-appointment/' + appointmentId + '/', // Replace with your delete endpoint URL
              type: 'POST', // Use POST method
              data: {
                  'csrfmiddlewaretoken': '{{ csrf_token }}' // Add CSRF token
              },
              success: function(response) {
                  // Handle success response, if needed
                  console.log('Appointment deleted successfully');
                  // Refresh the page after deletion
                  window.location.reload();
              },
              error: function(xhr, status, error) {
                  // Handle error response, if needed
                  console.error('Error deleting appointment:', error);
              }
          });
      });
  });
  </script>
{% endblock %}
