{% extends 'base.html' %}

{% block title %}Home - Bark Avenue Groomers{% endblock %}

{% block content %}
<div class="jumbotron container text-center">
    <div class="row justify-content-center">
        <h1 class="display-4 col-8 col-md-6 ">Welcome to Bark Avenue Groomers!</h1>
    </div>
    <div class="row justify-content-center">
        <p class="lead col-6 col-md-4">Book your pet's next grooming appointment with us.</p>
    </div>
    <div class="row justify-content-center">
        <a class="btn btn-primary btn-lg" href="{% url 'booking' %}" role="button">Book Appointment</a>
    </div>
</div>
{% endblock %}